NBAAPIClient/output.txt
NBAAPIClient/bin/Debug/netcoreapp3.1/NBAAPIClient.dll
NBAAPIClient/bin/Debug/netcoreapp3.1/NBAAPIClient.dll
NBAAPIClient/bin/Debug/netcoreapp3.1/NBAAPIClient.pdb
NBAAPIClient/obj/Debug/netcoreapp3.1/NBAAPIClient.dll
NBAAPIClient/obj/Debug/netcoreapp3.1/NBAAPIClient.pdb
